@media (min-width: 992px) {
    .page-content-wrapper .page-content {
        padding: 0px 0 0 20px;
    }
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.marker_labels {
    white-space: nowrap;
}

#page {
    padding: 10px 10px;
    position: relative;
    z-index: 3;
}

.btn-login-choose {
    margin: 5px 15px 0px 0px;
}

.modal-backdrop {
    z-index: 2;
}

.modal-backdrop.in {
    /*opacity: 0;*/
}

.form-group.form-md-line-input {
    margin: 0px 0px 20px;
}

.page-footer-fixed .page-boxed .page-footer,
.page-footer-fixed .page-footer {
    background-color: #FFFFFF;
}

.footer {
    min-height: 35px;
}

.footer .navbar-brand {
    font-size: 14px;
    float: left;
    padding: 15px;
    line-height: 10px;
    height: 40px;
}

.footer .navbar-nav>li>a {
    line-height: 5px;
}

.portlet_objek_wisata {
    padding: 10px 5px 3px !important;
}

.portlet_objek_wisata .portlet-title {
    margin-bottom: 0px;
}

#acc_list_objek {
    max-height: 350px;
    overflow-y: auto;
}

#panel_kategori_1 {
    margin-top: 0px;
}

#acc_list_objek .panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#acc_list_objek::-webkit-scrollbar,
.modal-body::-webkit-scrollbar,
#hasilPetunjukArah::-webkit-scrollbar {
    width: 5px;
    /*display: none;*/
}

#acc_list_objek::-webkit-scrollbar-track,
.modal-body::-webkit-scrollbar-track,
#hasilPetunjukArah::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}

#acc_list_objek::-webkit-scrollbar-thumb,
.modal-body::-webkit-scrollbar-thumb,
#hasilPetunjukArah::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

#acc_list_objek::-webkit-scrollbar-thumb:hover,
.modal-body::-webkit-scrollbar-thumb:hover,
#hasilPetunjukArah::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.modal-content {
    border: solid 1px #CCCCCC;
}

#acc_list_objek .panel-title {
    font-size: 14px;
}

#acc_list_objek .jml_objek {
    font-weight: bold;
    float: right;
    /*line-height: 2.4;*/
    margin-top: 5px;
    width: 20%;
}

#acc_list_objek .nama_kategori_objek {
    width: 80%;
}

.btn-group-justified>.btn,
.btn-group-justified>.btn-group {
    width: 50%;
}

.jml_objek_master {
    font-weight: bold;
    float: right;
    /*line-height: 2.4;*/
    margin-top: -2px;
    width: 20%;
}


/*.jml_objek{
    font-weight: bold;
    float: right;
    line-height: 1.4;
}
*/

#acc_list_objek .list-group h5 {
    margin-bottom: 0px;
    font-size: 13px;
}

#w-petunjuk-arah .form-control {
    font-size: 13px;
}


/* Map Directions*/

#hasilPetunjukArah {
    height: 300px;
    overflow-y: auto;
    font-size: 13px !important;
}

.adp-directions {
    width: 98%;
}

img.adp-marker {
    margin: 10px !important;
}

.adp-summary {
    padding: 10px !important;
}


/* End Of Map Directions */

.media-body p {
    font-size: 13px;
}

.widget_info a {
    box-shadow: none !important;
    text-align: left;
}

.widget_info a.btn-danger {
    text-align: center;
}


/* Mobile */

#mob_panel_kategori .panel {
    box-shadow: none !important;
}

#mob_panel_kategori #mob_panel_kategori_list .panel-body {
    padding: 0px;
    border-top: none;
}

@media (max-width: 992px) {
    #page {
        padding: 0px !important;
    }
    #page .home-content {
        padding-left: 0px;
        padding-right: 0px;
    }
    #map {
        margin-top: 58px;
        height: 100%;
    }
    .footer .navbar-brand {
        font-size: 14px;
        float: left;
        padding: 15px 0px;
        line-height: 10px;
        height: 40px;
    }
    .btn-login-choose {
        margin: -2px 15px 0px 0px;
    }
    .panel-group {
        margin-bottom: 7px;
    }
    .accordion .panel .panel-title .accordion-toggle {
        display: block;
        padding: 1px 15px;
    }
    #acc_list_objek {
        /*max-height: 250px !important;*/
        /*overflow-y: auto;*/
    }
    .portlet_objek_wisata {
        padding: 10px 5px 3px !important;
        margin-bottom: 40px;
    }
}

.list-group-item {
    overflow-y: auto;
}


/* End of Mobile */

.modal-footer {
    border-top: 1px solid #e5e5e5 !important;
}

.blog-content-2 .blog-single-content {
    padding: 20px 30px 15px !important;
    background-color: #fff;
}

.is_objek_item img {
    padding: 5px;
}


/* Ganesha Edit */

.footer {
    color: transparent;
    background-color: transparent;
    border-top: 0;
    min-height: unset;
}

.footer .navbar-brand {
    display: none;
}

#map {
    height: 100%;
}

@media (max-width: 992px) {
    #map {
        margin-top: 0;
        height: 100%;
    }
    @media(max-width:768px) {
        #link_objek_header {
            box-shadow: none;
            padding: 5px 2px;
        }
        #acc_list_objek {
            padding: 0 10px 5px;
        }
        #keyword_objek_mobile {
            border: 0;
        }
        #tombol_info_mobile {
            background: #fff;
        }
        .accordion .panel .panel-title .accordion-toggle {
            display: block;
            padding: 5px 15px;
        }
        .portlet_objek_wisata {
            box-shadow: none;
            background-color: transparent!important;
        }
        .portlet_objek_wisata .accordion-toggle {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        }
        .panel-default>.panel-heading {
            background: #fff;
            border-color: #fff;
        }
        .gm-style .gm-style-iw {
            display: flex;
            justify-content: center;
        }
        .btn.btn-sm {
            font-size: 11px;
            padding: 10px 15px;
        }
    }
}


/*Preloader*/

.preloader-wrapper {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    /*background: transparent;*/
    /* background: #fff; */
    position: fixed;
    z-index: 9999999999;
}

.preloader {
    position: relative;
    width: 100%;
    height: 80px;
    top: calc(50% - 50px);
    text-align: center;
    margin: 0 auto;
}

.preloader span {
    position: absolute;
    border: 8px solid #5895e8;
    border-top: 8px solid transparent;
    border-radius: 999px;
}

.preloader span:nth-child(1) {
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
    -webkit-animation: spin-1 1s infinite ease;
    animation: spin-1 1s infinite ease;
    border-color: #003c8f;
    border-top-color: transparent;
}

.preloader span:nth-child(2) {
    top: 20px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    -webkit-animation: spin-2 1s infinite ease;
    animation: spin-2 1s infinite ease;
}

.preloader:after {
    content: "Pemandu Wisata Online \A sedang memuat data";
    position: absolute;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    /* font-size: 12px; */
    white-space: pre;
    clear: right;
    font-weight: 400;
    color: #4d515f;
    letter-spacing: 1px;
    top: 90px;
    width: 100%;
    left: 0;
    right: 0;
    height: 1px;
    text-align: center;
}

@-webkit-keyframes spin-1 {
    0% {
        -webkit-transform: rotate(360deg);
        opacity: 1;
    }
    50% {
        -webkit-transform: rotate(180deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes spin-1 {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 1;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes spin-2 {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 0.5;
    }
    50% {
        -webkit-transform: rotate(180deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        opacity: 0.5;
    }
}

@keyframes spin-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 0.5;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0.5;
    }
}

.footer {
    min-height: 60px;
    pointer-events: none;
}

.footer .btn {
    pointer-events: visible;
}

#acc_list_objek .panel-heading {
    background: #fff!important;
}

.form-group.form-md-line-input .form-control {
    border-bottom: 1px solid #b4b4b4;
}

.portlet.light {
    border-radius: 5px;
}

.portlet_objek_wisata {
    padding: 10px!important;
}


/*Senin*/

[data-appear-animation] {
    opacity: 0;
}

[data-appear-animation].animated {
    opacity: 1;
}

.modal.fade {
    opacity: 1;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}

body.page-md {
    background: rgba(214, 220, 232, 0.37);
}

.form-group.form-md-line-input {
    padding-top: 10px;
}

.card-new {
    padding: 20px!important;
    position: relative;
}

.card-new img {
    width: 100%;
}

.crop {
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    height: 500px;
}

.row--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-padding {
    padding-left: 0;
}

.name {
    font-size: 20px;
    color: #eee;
    text-transform: capitalize;
}

.show-kontributor .image {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.link-wrapper h5 {
    text-align: center;
}

.verifikasi-label span {
    padding: 5px;
}


/*
.show-kontributor .image img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}*/

.item__kontributor {
    border: 10px solid #fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    background: #fff;
}

.item__kontributor .wrapper {
    background: #f5eee5;
}

.header-new {
    margin-bottom: 20px;
    margin-top: 30px;
}

.name__item {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.owl-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.owl-prev,
.owl-next {
    color: transparent;
    background: transparent;
    box-shadow: none;
    border: 0;
}

.owl-prev:after,
.owl-next:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -16px;
    width: 26px;
    height: 26px;
    border: 5px solid transparent;
    border-top: 5px solid #659be0 !important;
}

.owl-next:after {
    right: -35px;
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 5px solid #659be0 !important;
}

.owl-prev:after {
    left: -35px;
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-left: 5px solid #659be0 !important;
}

.owl-prev {
    &:hover {
        &:after {}
    }
}

.link-wrapper {
    color: #000;
}

.modal.fade .modal-dialog {
    border-radius: 5px;
}

.portlet.light {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

@media (max-width: 640px) {
    .owl-next:after {
        right: 0;
    }
    .owl-left:after {
        left: 0;
    }
    .row--flex {
        flex-direction: column;
    }
    .crop {
        margin-bottom: 10px;
        height: auto;
    }
}

.profil-card {
    margin: 15px 10px;
    padding: 10px!important;
}

.profil-card img {
    border-radius: 10px;
}

.portlet_objek_wisata {
    box-shadow: none!important;
}

.artikel-detail {
    margin-top: 20px;
}

.login {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: 30px;
}

.form-login {
    padding: 3em 2em 2em 2em;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.form-login .form-group.form-md-line-input {
    margin: 0;
    margin-bottom: 20px;
}


/*Login*/

.form-login {
    background: #fff;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: rgba(0, 0, 0, 0.56);
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab-group li a:hover {
    background: #659be0;
    color: #ffffff;
}

.tab-group .active a {
    background: #659be0;
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}

.form-login h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.56);
    font-weight: 300;
    margin: 0 0 40px;
}

.form-login label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(0, 0, 0, 0.56);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

.form-login label .req {
    margin: 2px;
    color: #659be0;
}

.form-login label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

.form-login label.active .req {
    opacity: 0;
}

.form-login label.highlight {
    color: #ffffff;
}

.form-login input,
.form-login textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: rgba(0, 0, 0, 0.56);
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

.form-login input:focus,
.form-login textarea:focus {
    outline: 0;
    border-color: #659be0;
}

.form-login textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.form-login .field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.form-login .top-row:after {
    content: "";
    display: table;
    clear: both;
}

.form-login .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.form-login .top-row > div:last-child {
    margin: 0;
}

.form-login .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #659be0;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.form-login .button:hover,
.form-login .button:focus {
    background: #179b77;
}

.form-login .button-block {
    display: block;
    width: 100%;
}

.form-login .forgot {
    margin-top: -20px;
    text-align: right;
}

.label-daftar {
    position: relative!important;
    text-align: left!important;
    margin: 0!important;
    padding-left: 5px!important;
}


/*16 Mei 2017*/

@media(max-width: 640px) {
    .item__kontributor {
        margin: 30px;
    }
    .header-new {
        font-size: 24px;
        margin-bottom: 0;
        text-align: center;
    }
}
